<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SporOEntities" connectionString="metadata=res://*/ModelSpor.csdl|res://*/ModelSpor.ssdl|res://*/ModelSpor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SporO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>